@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Define variables for colors and font */
:root {
  --primary-color: #3586ff;
  --text-color: #ffffff;
  --font-family: "Poppins", sans-serif;
  --wave-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.footer {
  position: relative;
  width: 100%;
  background: var(--primary-color);
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.social-icon,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: var(--text-color);
  margin: 0 15px;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.social-icon__link:hover {
  transform: scale(1.2);
}

.menu__link {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 0 15px;
  display: inline-block;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  opacity: 0.85;
  font-weight: 400;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: var(--text-color);
  margin: 15px 0 10px;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
}

.waves {
  position: absolute;
  width: 100%;
  height: var(--wave-height);
  top: -var(--wave-height);
  left: 0;
  overflow: hidden;
  line-height: 0;
}

.wave {
  position: absolute;
  width: 100%;
  height: var(--wave-height);
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px var(--wave-height);
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite ease-in-out;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite ease-in-out;
}

.wave#wave3 {
  z-index: 998;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite ease-in-out;
}

.wave#wave4 {
  z-index: 997;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite ease-in-out;
}

/* Animation Keyframes */
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-position-x: 0px;
  }
}
