* {
    box-sizing: border-box;
}


#myCarousel {
    width: 133%;
    margin-top: -30px;
    margin-left: -190px;
}

#shimg1 {
    height: 680px;
    width: 100%;
    cursor: pointer;
}

#shcontainer2 {
    height: 80px;
    width: 100%;
    margin: -20px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shpara2 {
    margin-left: 20px;
}

.carousel-control,
.glyphicon-chevron-left {
    margin-left: 0px;
    width: 0%;
}

.carousel-control,
.glyphicon-chevron-right {
    margin-right: 0px;
    width: 0%;
}

#shcontainer2 a {
    color: #8588ac;
}

#shcontainer2 a:hover {
    text-decoration: none;
}

#shcontainer3 {
    height: 600px;
    width: 100%;
    margin: 5px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
}

#shbox {
    height: 530px;
    width: 32%;
}

#shbox>p {
    margin-top: 20px;
}

#shimg2 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.shimg9 {
    height: 100%;
    width: 100%;
}

#shcontainer3 a {
    color: #8588ac;
}

#shcontainer3 a:hover {
    text-decoration: none;
}

#shcontainer4 {
    height: 750px;
    width: 100%;
    margin: 5px 50px 0px 50px;
}

#shimg3 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer5 {
    height: 80px;
    width: 100%;
    margin: 0px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shcontainer5>p {
    margin-top: 20px;
}

#shpara4 {
    margin-left: 20px;
}

#shcontainer5 a {
    color: #8588ac;
}

#shcontainer5 a:hover {
    text-decoration: none;
}

#shcontainer6 {
    height: 720px;
    width: 100%;
    margin: 5px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
}

#shbox1 {
    height: 650px;
    width: 49%;
}

#shbox1>p {
    margin-top: 20px;
}

#shimg4 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer6 a {
    color: #8588ac;
}

#shcontainer6 a:hover {
    text-decoration: none;
}

#shcontainer7 {
    height: 650px;
    width: 100%;
    margin: 5px 50px 0px 50px;
}

#shimg5 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer8 {
    height: 80px;
    width: 100%;
    margin: 0px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shcontainer8>p {
    margin-top: 20px;
}

#shpara6 {
    margin-left: 20px;
}

#shcontainer8 a {
    color: #8588ac;
}

#shcontainer8 a:hover {
    text-decoration: none;
}

#shcontainer9 {
    height: 700px;
    width: 100%;
    margin: 5px 50px 0px 50px;
}

#shimg6 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer10 {
    height: 700px;
    width: 100%;
    margin: 30px 50px 0px 50px;
}

#shimg7 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer11 {
    height: 80px;
    width: 100%;
    margin: 0px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shpara8,
#shpara9 {
    margin-left: 20px;
}

#shcontainer11 a {
    color: #8588ac;
}

#shcontainer11 a:hover {
    text-decoration: none;
}

#shcontainer12 {
    height: 110px;
    width: 100%;
    margin: 5px 50px 0px 50px;
}

#shimg8 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer13 {
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#left-click-img {
    margin-left: -200px;
}

#right-click-img {
    margin-right: -200px;
}

#shbox2 {
    height: 530px;
    width: 32%;
}

#shbox2>p {
    margin-top: 20px;
}


#shcontainer13 a {
    color: #8588ac;
}

#shcontainer13 a:hover {
    text-decoration: none;
}

#shcontainer14 {
    height: 750px;
    width: 100%;
    margin: 5px 50px 0px 50px;
}

#shimg10 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer15 {
    height: 80px;
    width: 100%;
    margin: 0px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shcontainer15>p {
    margin-top: 20px;
}

#shcontainer15 a {
    color: #8588ac;
}

#shcontainer15 a:hover {
    text-decoration: none;
}

#shcontainer16 {
    height: 280px;
    width: 100%;
    margin: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
}

.shbox3 {
    height: 100px;
    width: 32%;
}

.shbox3>p {
    margin-top: 20px;
}

.shimg11 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer16 a {
    color: #8588ac;
}

#shcontainer16 a:hover {
    text-decoration: none;
}

.para-sh {
    font-size: 22px;
    text-align: center;
    margin-top: 18px;
}

.para2-sh,
.para3-sh {
    text-align: center;
}

#shcontainer17 {
    height: 120px;
    width: 100%;
    margin: 0px 50px 0px 50px;
}

#shimg12 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer18 {
    height: 560px;
    width: 100%;
    margin: 35px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
}

.shbox4 {
    height: 420px;
    width: 32%;
}

.shimg13 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#shcontainer18 a {
    color: #8588ac;
}

#shcontainer16 a:hover {
    text-decoration: none;
}

.par-sh {
    font-size: 22px;
    margin-top: 18px;
}

/* Responsive adjustments */

@media screen and (min-width: 1202px) and (max-width: 1440px) {

    #myCarousel {
        width: 129%;
    }

    #left-click-img {
        margin-left: -150px;
    }

    #right-click-img {
        margin-right: -150px;
    }

}

@media screen and (min-width: 960px) and (max-width: 1030px) {

    #myCarousel {
        width: 109%;
        margin-left: -50px;
    }

    #left-click-img {
        margin-left: -100px;
    }

    #right-click-img {
        margin-right: -100px;
    }

    #shcontainer13 {
        margin-left: 27%;
    }
}

@media (max-width: 820px) {
    #left-click-img {
        margin-left: -100px;
    }

    #right-click-img {
        margin-right: -100px;
    }
}

@media (max-width: 768px) {
    #myCarousel {
        width: 106%;
        margin-left: -25px;
    }

    #shcontainer13 {
        margin-left: 25%;
    }

    #left-click-img {
        margin-left: -100px;
    }

    #right-click-img {
        margin-right: -100px;
    }
}

@media (max-width: 480px) {
    #myCarousel {
        width: 108%;
        margin-top: -30px;
        margin-left: -20px;
        margin-bottom: 5%;
    }

    #shcontainer13 {
        margin-left: 23%;
        margin-bottom: 10%;
    }

    #left-click-img {
        margin-left: -50px;
    }

    #right-click-img {
        margin-right: -50px;
    }
}

@media (max-width: 425px) {
    #myCarousel {
        width: 109%;
    }
}